# Local backend URL for development
VITE_API_BASE_URL=http://127.0.0.1:8000

# # Remote backend URL for production
# VITE_API_BASE_URL=https://learning-management-system-qevd.onrender.com
VITE_API_VERSION=v1

# Debugging Config
VITE_APP_DEBUGGING=true
